# Python
__pycache__/
*.pyc

# IDE
.vscode/
.idea/

# Сборки
dist/
build/

# Секреты
.env

# Python
__pycache__/
*.pyc

# Логи
*.log
*.spec

# Медиа
*.txt
*.md

# Видео
*.mp4
*.avi
*.mov

# Аудио
*.wav
*.mp3
*.ogg

# Фото
*.jpg
*.png
